# Numpy

## 1. 다음 보기와 같이 0이상 10미만의 3x3모양의 정수 난수를 생성하고 각 행의 첫번째 값으로 정렬하시오.

In [2]:
import numpy as np

array1 = np.random.randint(0,11, (3,3))
array1[:,0].sort()
array1

array([[0, 2, 0],
       [3, 0, 0],
       [3, 4, 3]])

## 2. 8x8 모양의 정수 0으로 채워진 행렬을 만들고 인덱싱과 슬라이싱을 이용하여 다음과 같은 체크보드 패턴을 만드시오

In [19]:
a = np.zeros((8,8), dtype='int')
a[1::2, ::2] = 1
a[::2, 1::2] = 1
a

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

## 3. [0,1)사이의 값을 갖는 크기 10의 랜덤 벡터를 만들고 최대값을 0으로 바꾸는 코드를 만드시오.

In [4]:
rand_vect = np.random.rand(10)
rand_vect[rand_vect.argmax()] = 0
rand_vect

array([0.57325758, 0.74416039, 0.38631513, 0.        , 0.34825444,
       0.83101374, 0.26082334, 0.06451846, 0.53829856, 0.20255014])

# pandas

# 1. 월드컵 출전선수 골 기록 데이터 분석

In [5]:
import pandas as pd

df = pd.read_csv('worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   1295 non-null   object
 1   Goals    1295 non-null   int64
 2   Years    1295 non-null   object
 3   Country  1295 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.6+ KB

In [9]:
df.shape

(1295, 4)

## 주어진 전체 기간의 각 나라별 골 득점수 합계 상위 5개 국가와 그 득점수를 출력하시오.

In [40]:
df.groupby(df['Country'])[['Goals']].sum().sort_values('Goals', ascending=False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

## 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 출력하시오.

In [41]:
df.groupby(df['Country'])[['Player']].count().sort_values('Player', ascending=False).head(5)

           Player
Country
Brazil         81
Germany        78
Italy          60
Argentina      59
France         58

## Years 컬럼은 년도-년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 각 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇 건인지 출력하시오.

In [6]:
len(df[~df['Years'].str.contains('\d{4}[-\d{4}]*', regex=True)])

45

## 3번 문제에서 발생한 예외 케이스를 제외한 새로운 데이터 프레임을 생성하고 전체데이터 행의 숫자를 출력하시오.

In [7]:
non_year_index = df[~df['Years'].str.contains('\d{4}[-\d{4}]*', regex=True)].index

df = df.drop(non_year_index)

len(df)

1250

## 월드컵 출전횟수를 나타내는 'LenCup'컬럼을 추가하고 4회 출전한 선수의 숫자를 구하시오

In [50]:
# lencup컬럼 추가하기
import re

lencup_list = []
for i in df['Years']:
    if re.match('\d{4}-\d{4}-\d{4}-\d{4}', i):
        lencup_list.append('4')
    elif re.match('\d{4}-\d{4}-\d{4}', i):
        lencup_list.append('3')
    elif re.match('\d{4}-\d{4}', i):
        lencup_list.append('2')
    elif re.match('\d{4}', i):
        lencup_list.append('1')

#print(lencup_list)
df['LenCup'] = lencup_list
df

                   Player  Goals                Years     Country LenCup
0          Miroslav Klose     16  2002-2006-2010-2014     Germany      4
1                 Ronaldo     15       1998-2002-2006      Brazil      3
2             Gerd Muller     14            1970-1974     Germany      2
3           Just Fontaine     13                 1958      France      1
4                    Pele     12  1958-1962-1966-1970      Brazil      4
...                   ...    ...                  ...         ...    ...
1290        Josip Skoblar      1                 1962  Yugoslavia      1
1291          Safet Susic      1            1982-1990  Yugoslavia      2
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia      1
1293  Djordje Vujadinovic      1                 1930  Yugoslavia      1
1294         Branko Zebec      1            1954-1958  Yugoslavia      2

[1250 rows x 5 columns]

In [52]:
# 4회 출전한 선수의 수
len(df[df['LenCup'] == '4'])

16

## yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하시오.

In [54]:
len(df[np.logical_and(df['Country'] == 'Yugoslavia', df['LenCup'] == '2')])

7

## 2002년도에 출전한 전체 선수 수를 구하시오

In [56]:
len(df[df['Years'].str.contains('2002')])

156

## 월드컵 출전 횟수가 1회 뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구이며 몇 골을 넣었는지 구하시오

In [64]:
df[df['LenCup'] == '1'][['Player','Goals','LenCup']].sort_values('Goals', ascending=False).head(1)

          Player  Goals LenCup
3  Just Fontaine     13      1

# 2. 전세계 행복도 지수 데이터 분석

In [9]:
happy = pd.read_csv('happiness.csv')

happy.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [66]:
happy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행복랭킹      312 non-null    int64
 1   나라명       312 non-null    object
 2   점수        312 non-null    float64
 3   상대GDP     312 non-null    float64
 4   사회적지원     312 non-null    float64
 5   행복기대치     312 non-null    float64
 6   선택의 자유도   312 non-null    float64
 7   관대함       312 non-null    float64
 8   부패에 대한인식  311 non-null    float64
 9   년도        312 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB

## 각 연도별 행복랭킹 10위 안에 드는 나라의 행복점수 평균을 구하시오

In [72]:
grouped = happy.groupby(happy['년도'])[['점수']]
for year, group in grouped:
    print('년도:', year)
    print(group[:10].mean())
    print('-'*30)

년도: 2018
점수    7.4442
dtype: float64
------------------------------
년도: 2019
점수    7.4559
dtype: float64
------------------------------

## 각 연도의 행복랭킹 50위 이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하시오.

In [75]:
grouped = happy.groupby(happy['년도'])[['행복랭킹','점수']]
for year, group in grouped:
    print('년도:', year)
    display(group[:50])
    print('-'*30)

년도: 2018

     행복랭킹     점수
156     1  7.632
157     2  7.594
158     3  7.555
159     4  7.495
160     5  7.487
161     6  7.441
162     7  7.328
163     8  7.324
164     9  7.314
165    10  7.272
166    11  7.190
167    12  7.139
168    13  7.072
169    14  6.977
170    15  6.965
171    16  6.927
172    17  6.910
173    18  6.886
174    19  6.814
175    20  6.774
176    21  6.711
177    22  6.627
178    23  6.489
179    24  6.488
180    25  6.476
181    26  6.441
182    27  6.430
183    28  6.419
184    29  6.388
185    30  6.382
186    31  6.379
187    32  6.374
188    33  6.371
189    34  6.343
190    35  6.322
191    36  6.310
192    37  6.260
193    38  6.192
194    39  6.173
195    40  6.167
196    41  6.141
197    42  6.123
198    43  6.105
199    44  6.096
200    45  6.083
201    46  6.072
202    47  6.000
203    48  5.973
204    49  5.956
205    50  5.952

------------------------------
년도: 2019

    행복랭킹     점수
0      1  7.769
1      2  7.600
2      3  7.554
3      4  7.494
4      5  7.488
5      6  7.480
6      7  7.343
7      8  7.307
8      9  7.278
9     10  7.246
10    11  7.228
11    12  7.167
12    13  7.139
13    14  7.090
14    15  7.054
15    16  7.021
16    17  6.985
17    18  6.923
18    19  6.892
19    20  6.852
20    21  6.825
21    22  6.726
22    23  6.595
23    24  6.592
24    25  6.446
25    26  6.444
26    27  6.436
27    28  6.375
28    29  6.374
29    30  6.354
30    31  6.321
31    32  6.300
32    33  6.293
33    34  6.262
34    35  6.253
35    36  6.223
36    37  6.199
37    38  6.198
38    39  6.192
39    40  6.182
40    41  6.174
41    42  6.149
42    43  6.125
43    44  6.118
44    45  6.105
45    46  6.100
46    47  6.086
47    48  6.070
48    49  6.046
49    50  6.028

------------------------------

## 각 년도별 하위 행복점수 5개 국가의 평균 행복점수를 구하시오.

In [80]:
grouped = happy.groupby(happy['년도'])[['점수']]
for year, group in grouped:
    print('년도:', year)
    print(group[-1:-6:-1].mean())
    print('-'*30)

년도: 2018
점수    3.18
dtype: float64
------------------------------
년도: 2019
점수    3.1408
dtype: float64
------------------------------

## 2019년 데이터를 추출하고 해당 데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하시오.

In [100]:
happy_2019 = happy[happy['년도'] == 2019]
happy_2019_avg = happy_2019['상대GDP'].mean()
print(f'2019년의 상대 GDP평균: {happy_2019_avg:.3f}')

2019년의 상대GDP평균: 0.905

In [101]:
happy_over = happy_2019[happy_2019['상대GDP'] >= happy_2019_avg]['상대GDP'].mean()
print(f'상대 GDP 평균이상인 나라들의 평균: {happy_over:.3f}')

상대 GDP 평균이상인 나라들의 평균: 1.200

In [102]:
happy_under = happy_2019[happy_2019['상대GDP'] <= happy_2019_avg]['상대GDP'].mean()
print(f'상대 GDP 평균이하인 나라들의 평균: {happy_under:.3f}')

상대 GDP 평균이하인 나라들의 평균: 0.524

In [103]:
print(f'차이값: {happy_over - happy_under:.3f}')

차이값: 0.677

## 각 년도의 부패에 대한 인식을 내림차순으로 정렬했을 때 상위 20개 국가의 부패에 대한 인식의 평균

In [111]:
grouped = happy.groupby(happy['년도'])[['부패에 대한인식']]
for year, group in grouped:
    print('년도:', year)
    group = group[['부패에 대한인식']].sort_values('부패에 대한인식', ascending=False)
    print(group[:20].mean())
    print('-'*30)

년도: 2018
부패에 대한인식    0.3267
dtype: float64
------------------------------
년도: 2019
부패에 대한인식    0.3201
dtype: float64
------------------------------

## 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자

In [125]:
# 19년도 랭킹 50위 나라들
top50_2019 = happy[happy['년도'] == 2019]['나라명'][:50]
# print(top50_2019.values)

# 18년도 랭킹 50위 나라들중에서 19년도 랭킹 50위에 포함되지 않은 나라들의 숫자
top50_2018 = happy[happy['년도'] == 2018][:50]
len(top50_2018[~top50_2018['나라명'].isin(top50_2019.values)])

4

## 2018, 2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [126]:
happy.head()

   행복랭킹          나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1      Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2      Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3       Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019
3     4      Iceland  7.494  1.380  1.624  1.026    0.591  0.354     0.118  2019
4     5  Netherlands  7.488  1.396  1.522  0.999    0.557  0.322     0.298  2019

In [10]:
happy_2018 = happy[happy['년도'] == 2018]
happy_2019 = happy[happy['년도'] == 2019]

In [37]:
happy_2019[happy_2019['나라명'] == 'Finland']['점수'][0]  # 인덱스값 가져오기

7.769

In [20]:
country_2018 = happy[happy['년도'] == 2018]['나라명']
#len(country_2018.values)

country_2019 = happy[happy['년도'] == 2019][['나라명']]
all_record_country = country_2019[country_2019['나라명'].isin(country_2018.values)]['나라명']

all_record_country = all_record_country.values
#len(all_record_country)

increased_score_list = []
for country in all_record_country:
    increased_score = (happy_2019[happy_2019['나라명'] == country]['점수'].values) - (happy_2018[happy_2018['나라명'] == country]['점수'].values)
    increased_score_list.append(increased_score)

max(increased_score_list)

array([0.87])

# 3. 유튜브 데이터 분석

In [142]:
youtube = pd.read_csv('youtube_rank.csv', encoding='utf-8')

youtube.head()

                         title    category subscriber       view   video
0                    BLACKPINK  [음악/댄스/가수]      5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]      3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]      2450만  180억7532만  3,583개

In [143]:
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       1000 non-null   object
 1   category    1000 non-null   object
 2   subscriber  1000 non-null   object
 3   view        1000 non-null   object
 4   video       1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

## 컬럼 이름 변경

In [144]:
youtube.columns = ['채널명', '카테고리', '구독자수', '조회수', '영상개수']
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   채널명     1000 non-null   object
 1   카테고리    1000 non-null   object
 2   구독자수    1000 non-null   object
 3   조회수     1000 non-null   object
 4   영상개수    1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

## '구독자수'컬럼과 '조회수'컬럼 타입 변경

In [147]:
youtube['구독자수'] = youtube['구독자수'].replace('만', '', regex=True).astype(np.int64)

youtube['조회수'] = youtube['조회수'].replace('억', '', regex=True)
youtube['조회수'] = youtube['조회수'].replace('만', '', regex=True).astype(np.int64)

youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   채널명     1000 non-null   object
 1   카테고리    1000 non-null   object
 2   구독자수    1000 non-null   int64
 3   조회수     1000 non-null   int64
 4   영상개수    1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

## '영상개수'컬럼 타입 변경

In [148]:
youtube['영상개수'] = youtube['영상개수'].replace(',', '', regex=True)
youtube['영상개수'] = youtube['영상개수'].replace('개', '', regex=True).astype(np.int32)

youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   채널명     1000 non-null   object
 1   카테고리    1000 non-null   object
 2   구독자수    1000 non-null   int64
 3   조회수     1000 non-null   int64
 4   영상개수    1000 non-null   int32
dtypes: int32(1), int64(2), object(2)
memory usage: 35.3+ KB

## 인기채널 확인하기

In [151]:
# 구독자수가 많은 5개 채널 출력
youtube.sort_values('구독자수', ascending=False)[['채널명','구독자수']][:5]

                           채널명  구독자수
0                    BLACKPINK  5140
1               Big Hit Labels  4550
2                    BANGTANTV  3870
3  Boram Tube Vlog [보람튜브 브이로그]  2650
4                       SMTOWN  2450

In [152]:
# 조회수가 많은 5개 채널 출력
youtube.sort_values('조회수', ascending=False)[['채널명','조회수']][:5]

                채널명      조회수
4            SMTOWN  1807532
6      1theK (원더케이)  1786042
8  ArianaGrandeVevo  1479692
0         BLACKPINK  1285130
1    Big Hit Labels  1208966

## '카테고리'가 [음악/댄스/가수]	인 채널의 '구독자수' 상위 5개 출력

In [154]:
youtube[youtube['카테고리'] == '[음악/댄스/가수]'].sort_values('구독자수', ascending=False)[:5]

                     채널명        카테고리  구독자수      조회수  영상개수
0              BLACKPINK  [음악/댄스/가수]  5140  1285130   319
1         Big Hit Labels  [음악/댄스/가수]  4550  1208966   433
2              BANGTANTV  [음악/댄스/가수]  3870   547598  1319
4                 SMTOWN  [음악/댄스/가수]  2450  1807532  3583
5  1MILLION Dance Studio  [음악/댄스/가수]  2230   575358  2205

## '카테고리'가 [TV/방송]이거나 [게임]인 채널의 개수 출력

In [156]:
sum(np.logical_or(youtube['카테고리'] == '[TV/방송]', youtube['카테고리'] == '[게임]'))

262

## '채널명'에 'KBS'가 포함된 채널 명을 출력하시오.

In [158]:
youtube[youtube['채널명'].str.contains('KBS')][['채널명']]

                          채널명
12                  KBS World
46                   KBS Kpop
76              KBS Entertain
101                 KBS Drama
290                  KBS 한국방송
292         KBS Drama Classic
308           KBS HUMAN: 뭉클티비
389                  KBS News
457                KBS CoolFM
716                     KBS N
777                  KBS KONG
991  KBS Documentary [KBS 다큐]
992                    KBS 교양

## '카테고리'별 '구독자수','조회수','영상개수'의 평균 출력

In [162]:
youtube.groupby(youtube['카테고리'])[['구독자수', '조회수','영상개수']].mean()

                   구독자수            조회수          영상개수
카테고리
[BJ/인물/연예인]  127.441176   41015.485294    837.735294
[IT/기술/컴퓨터]   80.625000   17661.000000   1200.125000
[TV/방송]      121.987578   71848.341615   9025.130435
[게임]          74.356436   45425.346535   2527.009901
[교육/강의]       85.130435   17721.826087    837.913043
[국내/해외/여행]    62.600000   18662.400000    830.200000
[뉴스/정치/사회]   122.696429  119993.553571  42048.089286
[미분류]        142.950000   40903.400000    778.050000
[스포츠/운동]      93.250000   27918.916667   3954.916667
[애완/반려동물]    116.100000   42131.700000    786.250000
[영화/만화/애니]    85.272727   31858.696970    770.181818
[음식/요리/레시피]  161.204545   40738.193182    830.022727
[음악/댄스/가수]   319.520000  109166.845714   1382.051429
[자동차]         49.000000   18561.500000    670.000000
[주식/경제/부동산]   62.600000    6800.000000   1026.400000
[취미/라이프]      97.450000   20431.175000    359.325000
[취미]          56.000000   10615.000000    237.000000
[키즈/어린이]     272.915789  128138.431579   1069.157895
[패션/미용]       82.385965   10437.736842    313.157895
[해외]         159.500000   83825.333333   5043.500000
[회사/오피셜]     220.250000   49661.250000   2084.250000