# Numpy

## 1.

In [3]:
import numpy as np

a = np.random.randint(0, 10, (3,3))
print(a)
print(a[a[:,0].argsort()])

[[1 5 2]
 [7 9 0]
 [3 7 7]]
[[1 5 2]
 [3 7 7]
 [7 9 0]]

## 2.

In [7]:
a = np.zeros((8,8), dtype='int')
a[1::2, ::2] = 1
a[::2, 1::2] = 1
a

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

## 3.

In [10]:
a = np.random.rand(10)
a[a.max() == a] = 0
a

array([0.        , 0.12237596, 0.93203862, 0.87093617, 0.7938179 ,
       0.50218507, 0.64512155, 0.25429709, 0.26313623, 0.92323371])

# padas

# 1. 월드컵 출전선수 골 기록 데이터 분석

In [25]:
import pandas as pd

df = pd.read_csv('worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

## 주어진 전체 기간의 각 나라별 골 득점수 합계 상위 5개 국가와 그 득점수를 출력하시오.

In [12]:
df.groupby('Country')['Goals'].sum().sort_values(ascending=False).head(5)
# Series로 반환시 sort_values에 정렬 기준 컬럼 넣을 필요X

Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115
Name: Goals, dtype: int64

## 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 출력하시오.

In [14]:
df.groupby('Country').count().sort_values('Player', ascending=False).head(5)[['Player']]

           Player
Country
Brazil         81
Germany        78
Italy          60
Argentina      59
France         58

## Years 컬럼은 년도-년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 각 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇 건인지 출력하시오.

In [15]:
count = 0
for years in df['Years']:   # year 컬럼의 각 값 가져오기
    for year in years.split('-'):   # 그 값을 '-' 기준으로 쪼개기
        if len(year) != 4:  # 쪼갠 값이 4자리가 아니라면 
            count += 1  # 카운트 +1
print(count)

45

## 3번 문제에서 발생한 예외 케이스를 제외한 새로운 데이터 프레임을 생성하고 전체데이터 행의 숫자를 출력하시오.

In [26]:
# year 형식 체크하는 함수
def checkYearFormat(years):
    for year in years.split('-'):   
        if len(year) != 4:  
            return False
        else:
            return True

# 형식의 T/F값 컬럼으로 True값만 가지는 컬럼만 가져오기
df['year_check'] = df['Years'].apply(lambda x : checkYearFormat(x))
df2 = df[df['year_check']]
df2.shape

(1250, 5)

In [21]:
# 불필요한 워닝 메시지 출력 방지
import warnings
warnings.filterwarnings(action='ignore')

## 월드컵 출전횟수를 나타내는 'LenCup'컬럼을 추가하고 4회 출전한 선수의 숫자를 구하시오

In [27]:
df2['LenCup'] = [len(years.split('-')) for years in df2['Years']]

In [30]:
len(df2[df2['LenCup'] == 4])

16

## yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하시오.

In [31]:
len(df2[df2['Country'] == 'Yugoslavia'][df2['LenCup'] == 2])

7

## 2002년도에 출전한 전체 선수 수를 구하시오

In [32]:
len(df2[df2['Years'].str.contains('2002')])

156

## 월드컵 출전 횟수가 1회 뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구이며 몇 골을 넣었는지 구하시오

In [33]:
df2[df2['LenCup']==1].sort_values('Goals', ascending=False).head(1)[['Player','Goals']]

          Player  Goals
3  Just Fontaine     13

# 전세계 행복도 지수 데이터 분석

In [34]:
df = pd.read_csv('happiness.csv')

df.head()

   행복랭킹          나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1      Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2      Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3       Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019
3     4      Iceland  7.494  1.380  1.624  1.026    0.591  0.354     0.118  2019
4     5  Netherlands  7.488  1.396  1.522  0.999    0.557  0.322     0.298  2019

## 각 연도별 행복랭킹 10위 안에 드는 나라의 행복점수 평균을 구하시오

In [35]:
grouped = df.groupby('년도')
for year, group in grouped:
    print(f'{year}년도', end=':')
    print(group[group['행복랭킹'] <= 10]['점수'].mean().round(2))

2018년도:7.44
2019년도:7.46

In [37]:
df[df['행복랭킹'] <= 10].groupby('년도')['점수'].mean()

년도
2018    7.4442
2019    7.4559
Name: 점수, dtype: float64

## 각 연도의 행복랭킹 50위 이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하시오.

In [38]:
df[df['행복랭킹'] <= 50].groupby('년도')[['점수']].mean()

           점수
년도
2018  6.64678
2019  6.67002

## 각 년도별 하위 행복점수 5개 국가의 평균 행복점수를 구하시오.

In [39]:
df.sort_values(['년도', '점수']).groupby('년도').head(5).groupby('년도')['점수'].mean().round(2)

년도
2018    3.18
2019    3.14
Name: 점수, dtype: float64

In [41]:
grouped = df.groupby('년도')
for year, group in grouped:
    print(f'{year}년도', end=':')
    print(group.sort_values('점수').head(5)['점수'].mean().round(2))

2018년도:3.18
2019년도:3.14

## 2019년 데이터를 추출하고 해당 데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하시오.

In [44]:
df_2019 = df[df['년도']==2019]
over_mean = df_2019[df_2019['상대GDP'] >= df_2019['상대GDP'].mean()]['점수'].mean()
under_mean = df_2019[df_2019['상대GDP'] < df_2019['상대GDP'].mean()]['점수'].mean()
print(np.round(over_mean - under_mean), 2)

1.0 2

## 각 년도의 부패에 대한 인식을 내림차순으로 정렬했을 때 상위 20개 국가의 부패에 대한 인식의 평균

In [45]:
df.sort_values(['년도', '부패에 대한인식'], ascending=False).groupby('년도').head(20).groupby('년도')[['부패에 대한인식']].mean()

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

## 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자

In [49]:
d1 = df[np.logical_and(df['년도'] ==2018, df['행복랭킹']<=50)]['나라명']  # 2018년도에 50위 이내인 나라
d2 = df[np.logical_and(df['년도'] ==2019, df['행복랭킹']>50)]['나라명'] # 2019년도에 50위 밖인 나라

# 50
len(d2[d2.isin(d1)])

3

## 2018, 2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [50]:
year_2018 = df[df['년도'] == 2018]['나라명']
year_2019 = df[df['년도'] == 2019]['나라명']
year_2018_2019 = year_2019[year_2019.isin(year_2018)]
year_2018_2019

0                       Finland
1                       Denmark
2                        Norway
3                       Iceland
4                   Netherlands
                 ...
151                      Rwanda
152                    Tanzania
153                 Afghanistan
154    Central African Republic
155                 South Sudan
Name: 나라명, Length: 152, dtype: object

In [53]:
count = df['나라명'].value_counts()   # 각 나라별 행 개수
year_2018_2019 = count[count == 2].index  # 그 개수가 2인 것만
year_2018_2019

Index(['Finland', 'Albania', 'Nepal', 'Jordan', 'Benin', 'Congo (Brazzaville)',
       'Gabon', 'Laos', 'South Africa', 'Venezuela',
       ...
       'Kosovo', 'Romania', 'Cyprus', 'Argentina', 'Kuwait', 'Thailand',
       'Latvia', 'South Korea', 'Estonia', 'Jamaica'],
      dtype='object', name='나라명', length=152)

In [54]:
multiple = df[df['나라명'].isin(year_2018_2019)] # 두 년도에 모두 속한 국가들에 대한 데이터 프레임
multiple.head()

   행복랭킹          나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1      Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2      Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3       Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019
3     4      Iceland  7.494  1.380  1.624  1.026    0.591  0.354     0.118  2019
4     5  Netherlands  7.488  1.396  1.522  0.999    0.557  0.322     0.298  2019

In [57]:
year_2019 = multiple[multiple['년도'] == 2019].sort_values('나라명')
year_2018_point = multiple[multiple['년도'] == 2018].sort_values('나라명')['점수']

year_2019['전년대비 점수 증감'] = year_2019['점수'] - year_2018_point.values
year_2019[year_2019['전년대비 점수 증감'].max() == year_2019['전년대비 점수 증감']][['나라명', '전년대비 점수 증감']]

         나라명  전년대비 점수 증감
144  Burundi        0.87

# 3. 유튜브 데이터 분석

In [58]:
df= pd.read_csv('youtube_rank.csv', encoding='utf-8')

df.head()

                         title    category subscriber       view   video
0                    BLACKPINK  [음악/댄스/가수]      5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]      3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]      2450만  180억7532만  3,583개

## 컬럼 이름 변경

In [59]:
df.columns = ['채널명', '카테고리', '구독자수', '조회수', '영상개수']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   채널명     1000 non-null   object
 1   카테고리    1000 non-null   object
 2   구독자수    1000 non-null   object
 3   조회수     1000 non-null   object
 4   영상개수    1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

## '구독자수'컬럼과 '조회수'컬럼 타입 변경

In [62]:
df['구독자수'] = df['구독자수'].replace('만', '0000', regex=True).astype(np.int64)

In [64]:
df['조회수'] = df['조회수'].replace(['억','만'], ['','0000'], regex=True).astype(np.int64)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   채널명     1000 non-null   object
 1   카테고리    1000 non-null   object
 2   구독자수    1000 non-null   int64
 3   조회수     1000 non-null   int64
 4   영상개수    1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [66]:
df['영상개수'] = df['영상개수'].replace([',','개'], ['',''], regex=True).astype(np.int32)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   채널명     1000 non-null   object
 1   카테고리    1000 non-null   object
 2   구독자수    1000 non-null   int64
 3   조회수     1000 non-null   int64
 4   영상개수    1000 non-null   int32
dtypes: int32(1), int64(2), object(2)
memory usage: 35.3+ KB

## 인기채널 확인하기

In [67]:
df.sort_values('구독자수', ascending=False).head()

                           채널명        카테고리      구독자수          조회수  영상개수
0                    BLACKPINK  [음악/댄스/가수]  51400000  12851300000   319
1               Big Hit Labels  [음악/댄스/가수]  45500000  12089660000   433
2                    BANGTANTV  [음악/댄스/가수]  38700000   5475980000  1319
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]  26500000  11052880000   223
4                       SMTOWN  [음악/댄스/가수]  24500000  18075320000  3583

In [68]:
df.sort_values('조회수', ascending=False).head()

                채널명        카테고리      구독자수          조회수   영상개수
4            SMTOWN  [음악/댄스/가수]  24500000  18075320000   3583
6      1theK (원더케이)  [음악/댄스/가수]  20900000  17860420000  13291
8  ArianaGrandeVevo  [음악/댄스/가수]  18200000  14796920000    112
0         BLACKPINK  [음악/댄스/가수]  51400000  12851300000    319
1    Big Hit Labels  [음악/댄스/가수]  45500000  12089660000    433

## '카테고리'가 [음악/댄스/가수]	인 채널의 '구독자수' 상위 5개 출력

In [69]:
df[df['카테고리'] == '[음악/댄스/가수]'].sort_values('구독자수', ascending=False).head()

                     채널명        카테고리      구독자수          조회수  영상개수
0              BLACKPINK  [음악/댄스/가수]  51400000  12851300000   319
1         Big Hit Labels  [음악/댄스/가수]  45500000  12089660000   433
2              BANGTANTV  [음악/댄스/가수]  38700000   5475980000  1319
4                 SMTOWN  [음악/댄스/가수]  24500000  18075320000  3583
5  1MILLION Dance Studio  [음악/댄스/가수]  22300000   5753580000  2205

## '카테고리'가 [TV/방송]이거나 [게임]인 채널의 개수 출력

In [70]:
len(df[df['카테고리'].isin(['[TV/방송]', '[게임]'])])

262

## '채널명'에 'KBS'가 포함된 채널 명을 출력하시오.

In [73]:
df[df['채널명'].str.contains('KBS')]['채널명']

12                    KBS World
46                     KBS Kpop
76                KBS Entertain
101                   KBS Drama
290                    KBS 한국방송
292           KBS Drama Classic
308             KBS HUMAN: 뭉클티비
389                    KBS News
457                  KBS CoolFM
716                       KBS N
777                    KBS KONG
991    KBS Documentary [KBS 다큐]
992                      KBS 교양
Name: 채널명, dtype: object

## '카테고리'별 '구독자수','조회수','영상개수'의 평균 출력

In [76]:
df.groupby('카테고리')[['구독자수', '조회수','영상개수']].mean().round(2)

                   구독자수           조회수      영상개수
카테고리
[BJ/인물/연예인]  1274411.76  4.101549e+08    837.74
[IT/기술/컴퓨터]   806250.00  1.766100e+08   1200.12
[TV/방송]      1219875.78  7.184834e+08   9025.13
[게임]          743564.36  4.542535e+08   2527.01
[교육/강의]       851304.35  1.772183e+08    837.91
[국내/해외/여행]    626000.00  1.866240e+08    830.20
[뉴스/정치/사회]   1226964.29  1.199936e+09  42048.09
[미분류]        1429500.00  4.090340e+08    778.05
[스포츠/운동]      932500.00  2.791892e+08   3954.92
[애완/반려동물]    1161000.00  4.213170e+08    786.25
[영화/만화/애니]    852727.27  3.185870e+08    770.18
[음식/요리/레시피]  1612045.45  4.073819e+08    830.02
[음악/댄스/가수]   3195200.00  1.091668e+09   1382.05
[자동차]         490000.00  1.856150e+08    670.00
[주식/경제/부동산]   626000.00  6.800000e+07   1026.40
[취미/라이프]      974500.00  2.043118e+08    359.32
[취미]          560000.00  1.061500e+08    237.00
[키즈/어린이]     2729157.89  1.281384e+09   1069.16
[패션/미용]       823859.65  1.043774e+08    313.16
[해외]         1595000.00  8.382533e+08   5043.50
[회사/오피셜]     2202500.00  4.966125e+08   2084.25