# [실습] 비행기 연착 추측 분류
- 비행정보, 출발 공항 정보, 도착 공항 정보 병합 (Airport ID)
- target : ArrDel15

In [1]:
import pandas as pd
import numpy as np

flight_time = pd.read_csv('./dataset/Flight on-time performance.csv')
print(flight_time.shape)
display(flight_time.head())

(504397, 18)

   Year  Quarter  Month  DayofMonth  DayOfWeek Carrier  ...  CRSArrTime  ArrTimeBlk  ArrDelay ArrDel15  Cancelled  Diverted
0  2011        4     10           6          4      WN  ...        1550   1500-1559      -6.0      0.0          0         0
1  2011        4     10           6          4      WN  ...        1445   1400-1459     -12.0      0.0          0         0
2  2011        4     10           6          4      WN  ...        1145   1100-1159     -14.0      0.0          0         0
3  2011        4     10           6          4      WN  ...        2055   2000-2059      -6.0      0.0          0         0
4  2011        4     10           6          4      WN  ...        1530   1500-1559       2.0      0.0          0         0

[5 rows x 18 columns]

In [2]:
ori_airport = pd.read_csv('./dataset/Airport Codes Dataset.csv')
print(ori_airport.shape)
display(ori_airport.head())

(365, 4)

   airport_id         city state                                  name
0       10165  Adak Island    AK                                  Adak
1       10299    Anchorage    AK   Ted Stevens Anchorage International
2       10304        Aniak    AK                         Aniak Airport
3       10754       Barrow    AK       Wiley Post/Will Rogers Memorial
4       10551       Bethel    AK                        Bethel Airport

In [3]:
ori_airport.columns = ['airport_id', 'ori_city', 'ori_state', 'ori_airport']
display(ori_airport.head())

   airport_id     ori_city ori_state                           ori_airport
0       10165  Adak Island        AK                                  Adak
1       10299    Anchorage        AK   Ted Stevens Anchorage International
2       10304        Aniak        AK                         Aniak Airport
3       10754       Barrow        AK       Wiley Post/Will Rogers Memorial
4       10551       Bethel        AK                        Bethel Airport

In [4]:
dest_airport = pd.read_csv('./dataset/Airport Codes Dataset.csv')

dest_airport.columns = ['airport_id', 'dest_city', 'dest_state', 'dest_airport']
display(dest_airport.head())

   airport_id    dest_city dest_state                          dest_airport
0       10165  Adak Island         AK                                  Adak
1       10299    Anchorage         AK   Ted Stevens Anchorage International
2       10304        Aniak         AK                         Aniak Airport
3       10754       Barrow         AK       Wiley Post/Will Rogers Memorial
4       10551       Bethel         AK                        Bethel Airport

In [9]:
# 데이터 병합

df = pd.merge(flight_time, ori_airport, left_on='OriginAirportID', right_on='airport_id')
df = df.drop('airport_id', axis=1)
print(df.shape)
display(df.head())

(504397, 21)

   Year  Quarter  Month  DayofMonth  ...  Diverted     ori_city  ori_state                                 ori_airport
0  2011        4     10           6  ...         0  New Orleans         LA   Louis Armstrong New Orleans International
1  2011        4     10           6  ...         0  New Orleans         LA   Louis Armstrong New Orleans International
2  2011        4     10           6  ...         0  New Orleans         LA   Louis Armstrong New Orleans International
3  2011        4     10           6  ...         0  New Orleans         LA   Louis Armstrong New Orleans International
4  2011        4     10           6  ...         0  New Orleans         LA   Louis Armstrong New Orleans International

[5 rows x 21 columns]

In [10]:
df = pd.merge(df, dest_airport, left_on='DestAirportID', right_on='airport_id')
print(df.shape)
display(df.head())

(504397, 25)

   Year  Quarter  Month  DayofMonth  ...  airport_id dest_city  dest_state      dest_airport
0  2011        4     10           6  ...       12191   Houston          TX   William P Hobby
1  2011        4     10           6  ...       12191   Houston          TX   William P Hobby
2  2011        4     10           6  ...       12191   Houston          TX   William P Hobby
3  2011        4     10           7  ...       12191   Houston          TX   William P Hobby
4  2011        4     10           7  ...       12191   Houston          TX   William P Hobby

[5 rows x 25 columns]

In [11]:
df = df.drop('airport_id', axis=1)
print(df.shape)
display(df.head())

(504397, 24)

   Year  Quarter  Month  DayofMonth  ...                                 ori_airport dest_city  dest_state      dest_airport
0  2011        4     10           6  ...   Louis Armstrong New Orleans International   Houston          TX   William P Hobby
1  2011        4     10           6  ...   Louis Armstrong New Orleans International   Houston          TX   William P Hobby
2  2011        4     10           6  ...   Louis Armstrong New Orleans International   Houston          TX   William P Hobby
3  2011        4     10           7  ...   Louis Armstrong New Orleans International   Houston          TX   William P Hobby
4  2011        4     10           7  ...   Louis Armstrong New Orleans International   Houston          TX   William P Hobby

[5 rows x 24 columns]

In [18]:
# 학습 컬럼 선택
flight = df[['DayOfWeek', 'Carrier', 'DepTimeBlk', 'DepDelay', 'DepDel15', 'ArrTimeBlk', 'ArrDel15', 'ori_city', 'ori_state', 'ori_airport', 'dest_city', 'dest_state', 'dest_airport', 'ArrDelay']]
display(flight.head())

   DayOfWeek Carrier DepTimeBlk  DepDelay  ...  dest_city dest_state      dest_airport ArrDelay
0          4      WN  1400-1459       2.0  ...    Houston         TX   William P Hobby     -6.0
1          4      WN  1300-1359      -4.0  ...    Houston         TX   William P Hobby    -12.0
2          4      WN  1000-1059      -2.0  ...    Houston         TX   William P Hobby    -14.0
3          5      WN  0800-0859       0.0  ...    Houston         TX   William P Hobby    -10.0
4          5      WN  1200-1259      10.0  ...    Houston         TX   William P Hobby      6.0

[5 rows x 14 columns]

In [25]:
import warnings
warnings.filterwarnings(action='ignore')

In [26]:
# 결측치 삭제
flight.isna().sum()
flight.dropna(inplace=True)

In [27]:
# 카테고리형으로 타입 변경
flight['ArrDel15'] = flight['ArrDel15'].astype('category')
flight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 499680 entries, 0 to 504396
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DayOfWeek     499680 non-null  int64
 1   Carrier       499680 non-null  object
 2   DepTimeBlk    499680 non-null  object
 3   DepDelay      499680 non-null  float64
 4   DepDel15      499680 non-null  float64
 5   ArrTimeBlk    499680 non-null  object
 6   ArrDel15      499680 non-null  category
 7   ori_city      499680 non-null  object
 8   ori_state     499680 non-null  object
 9   ori_airport   499680 non-null  object
 10  dest_city     499680 non-null  object
 11  dest_state    499680 non-null  object
 12  dest_airport  499680 non-null  object
 13  ArrDelay      499680 non-null  float64
dtypes: category(1), float64(3), int64(1), object(9)
memory usage: 53.8+ MB

In [48]:
# 라벨 인코딩
from sklearn.preprocessing import LabelEncoder

for col in flight.columns:
    if flight[col].dtype == 'O':
        flight[col] = LabelEncoder().fit_transform(flight[col])

flight

        DayOfWeek  Carrier  DepTimeBlk  DepDelay  DepDel15  ...  ori_airport dest_city  dest_state  dest_airport  ArrDelay
0               4       13           9       2.0       0.0  ...          151       118          44           271      -6.0
1               4       13           8      -4.0       0.0  ...          151       118          44           271     -12.0
2               4       13           5      -2.0       0.0  ...          151       118          44           271     -14.0
3               5       13           3       0.0       0.0  ...          151       118          44           271     -10.0
4               5       13           7      10.0       0.0  ...          151       118          44           271       6.0
...           ...      ...         ...       ...       ...  ...          ...       ...         ...           ...       ...
504392          4        1          12     -11.0       0.0  ...          168       266           0           274      -6.0
504393          5        1          12     -22.0       0.0  ...          168       266           0           274     -30.0
504394          6        1          12     -21.0       0.0  ...          168       266           0           274     -25.0
504395          7        1          12       3.0       0.0  ...          168       266           0           274      -1.0
504396          1        1          12     -27.0       0.0  ...          168       266           0           274     -27.0

[499680 rows x 14 columns]

In [49]:
flight['Carrier'].dtype

dtype('int32')

In [50]:
flight['ArrDel15'].unique()

[0.0, 1.0]
Categories (2, float64): [0.0, 1.0]

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix
from sklearn.model_selection import train_test_split

In [52]:
x = flight.drop('ArrDel15', axis=1)
y = flight['ArrDel15']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

## 로지스틱 회귀모형

In [53]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [55]:
y_hat = model.predict(x_test)

print(f'정확도: {accuracy_score(y_test, y_hat):.3f}')
print(f'정밀도: {precision_score(y_test, y_hat):.3f}')

정확도: 0.984
정밀도: 0.937

In [56]:
con_mat = confusion_matrix(y_test, y_hat)
con_mat

array([[128129,   1295],
       [  1076,  19404]], dtype=int64)

## Ensemble - Bagging

In [58]:
from sklearn.ensemble import RandomForestClassifier

r_forest = RandomForestClassifier()
r_forest.fit(x_train, y_train)

RandomForestClassifier()

In [59]:
y_hat = r_forest.predict(x_test)

print(f'정확도: {accuracy_score(y_test, y_hat):.3f}')
print(f'정밀도: {precision_score(y_test, y_hat):.3f}')

정확도: 1.000
정밀도: 1.000

In [61]:
con_mat = confusion_matrix(y_test, y_hat)
con_mat

array([[129424,      0],
       [     0,  20480]], dtype=int64)

## Ensemble - Voting

In [63]:
from sklearn.linear_model import LogisticRegression 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier

logistic = LogisticRegression(max_iter=4000) # 반복학습 1000번
knn = KNeighborsClassifier()

vo_c = VotingClassifier(estimators=[('LOGISTIC', logistic),('KNN', knn)], voting='hard')

In [66]:
vo_c.fit(x_train, y_train)
y_hat = vo_c.predict(x_test)

print('실제값:', np.array(y_test[:7]))
print('예측값:', y_hat[:7])

print(f'정확도: {accuracy_score(y_test, y_hat):.3f}')
print(f'정밀도: {precision_score(y_test, y_hat):.3f}')

실제값: [0. 1. 0. 0. 0. 1. 1.]
예측값: [0. 0. 0. 0. 0. 1. 1.]
정확도: 0.984
정밀도: 1.000

# [답안]

## 패키지 로딩

In [ ]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

## 데이터 로딩

In [68]:
df_airport = pd.read_csv('./dataset/Airport Codes Dataset.csv')
print(df_airport.shape)
display(df_airport.head())

(365, 4)

   airport_id         city state                                  name
0       10165  Adak Island    AK                                  Adak
1       10299    Anchorage    AK   Ted Stevens Anchorage International
2       10304        Aniak    AK                         Aniak Airport
3       10754       Barrow    AK       Wiley Post/Will Rogers Memorial
4       10551       Bethel    AK                        Bethel Airport

In [69]:
df_flight = pd.read_csv('./dataset/Flight on-time performance.csv')
print(df_flight.shape)
display(df_flight.head())

(504397, 18)

   Year  Quarter  Month  DayofMonth  DayOfWeek Carrier  ...  CRSArrTime  ArrTimeBlk  ArrDelay ArrDel15  Cancelled  Diverted
0  2011        4     10           6          4      WN  ...        1550   1500-1559      -6.0      0.0          0         0
1  2011        4     10           6          4      WN  ...        1445   1400-1459     -12.0      0.0          0         0
2  2011        4     10           6          4      WN  ...        1145   1100-1159     -14.0      0.0          0         0
3  2011        4     10           6          4      WN  ...        2055   2000-2059      -6.0      0.0          0         0
4  2011        4     10           6          4      WN  ...        1530   1500-1559       2.0      0.0          0         0

[5 rows x 18 columns]

In [70]:
df_flight['ArrDel15'].value_counts()

ArrDel15
0.0    431461
1.0     68219
Name: count, dtype: int64

In [72]:
# 결측치 확인
print(df_airport.isna().sum())
print(df_flight.isna().sum())

airport_id    0
city          0
state         0
name          0
dtype: int64
Year                  0
Quarter               0
Month                 0
DayofMonth            0
DayOfWeek             0
Carrier               0
OriginAirportID       0
DestAirportID         0
CRSDepTime            0
DepTimeBlk            0
DepDelay           3697
DepDel15           3697
CRSArrTime            0
ArrTimeBlk            0
ArrDelay           4717
ArrDel15           4717
Cancelled             0
Diverted              0
dtype: int64

## 데이터 전처리

### 공항정보 데이터를 출발 공항정보로 수정

In [74]:
df_ori_airport = df_airport.rename(columns={'city':'Ori-city', 'state':'Ori-state', 'name':'Ori-airport'})
df_ori_airport.head()

   airport_id     Ori-city Ori-state                           Ori-airport
0       10165  Adak Island        AK                                  Adak
1       10299    Anchorage        AK   Ted Stevens Anchorage International
2       10304        Aniak        AK                         Aniak Airport
3       10754       Barrow        AK       Wiley Post/Will Rogers Memorial
4       10551       Bethel        AK                        Bethel Airport

### 비행정보 데이터와 출발공항정보 데이터 병합

In [75]:
merged_df1 = pd.merge(df_flight, df_ori_airport, left_on='OriginAirportID', right_on='airport_id', how='left')
print(merged_df1.shape)
display(merged_df1.head())

(504397, 22)

   Year  Quarter  Month  DayofMonth  ...  airport_id     Ori-city  Ori-state                                 Ori-airport
0  2011        4     10           6  ...       13495  New Orleans         LA   Louis Armstrong New Orleans International
1  2011        4     10           6  ...       13495  New Orleans         LA   Louis Armstrong New Orleans International
2  2011        4     10           6  ...       13495  New Orleans         LA   Louis Armstrong New Orleans International
3  2011        4     10           6  ...       13495  New Orleans         LA   Louis Armstrong New Orleans International
4  2011        4     10           6  ...       13495  New Orleans         LA   Louis Armstrong New Orleans International

[5 rows x 22 columns]

In [76]:
# airport id 중복 컬럼 삭제
merged_df1.drop('airport_id', axis=1, inplace=True)

### 공항정보 데이터를 도착 공항정보로 수정

In [77]:
df_dest_airport = df_airport.rename(columns={'city':'Dest-city', 'state':'Dest-state', 'name':'Dest-airport'})
df_dest_airport.head()

   airport_id    Dest-city Dest-state                          Dest-airport
0       10165  Adak Island         AK                                  Adak
1       10299    Anchorage         AK   Ted Stevens Anchorage International
2       10304        Aniak         AK                         Aniak Airport
3       10754       Barrow         AK       Wiley Post/Will Rogers Memorial
4       10551       Bethel         AK                        Bethel Airport

### 비행정보 데이터와 출발공항정보 데이터 병합

In [78]:
merged_df2 = pd.merge(merged_df1, df_dest_airport, left_on='DestAirportID', right_on='airport_id', how='left')
print(merged_df2.shape)
display(merged_df2.head())

(504397, 25)

   Year  Quarter  Month  DayofMonth  ...  airport_id  Dest-city  Dest-state             Dest-airport
0  2011        4     10           6  ...       12191    Houston          TX          William P Hobby
1  2011        4     10           6  ...       12191    Houston          TX          William P Hobby
2  2011        4     10           6  ...       12191    Houston          TX          William P Hobby
3  2011        4     10           6  ...       12889  Las Vegas          NV   McCarran International
4  2011        4     10           6  ...       12889  Las Vegas          NV   McCarran International

[5 rows x 25 columns]

In [79]:
# airport id 중복 컬럼 삭제
merged_df2.drop('airport_id', axis=1, inplace=True)

### 24개 컬럼 중 학습에 사용할 14개 컬럼 선택

In [80]:
merged_df2.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'Carrier',
       'OriginAirportID', 'DestAirportID', 'CRSDepTime', 'DepTimeBlk',
       'DepDelay', 'DepDel15', 'CRSArrTime', 'ArrTimeBlk', 'ArrDelay',
       'ArrDel15', 'Cancelled', 'Diverted', 'Ori-city', 'Ori-state',
       'Ori-airport', 'Dest-city', 'Dest-state', 'Dest-airport'],
      dtype='object')

In [82]:
selected_col = ['DayOfWeek', 'Carrier','DepTimeBlk','DepDelay','DepDel15','ArrTimeBlk', 'ArrDelay','ArrDel15','Ori-city', 'Ori-state',
       'Ori-airport', 'Dest-city', 'Dest-state', 'Dest-airport']
df_flight_info = merged_df2[selected_col]
df_flight_info.head()

   DayOfWeek Carrier DepTimeBlk  ...  Dest-city  Dest-state             Dest-airport
0          4      WN  1400-1459  ...    Houston          TX          William P Hobby
1          4      WN  1300-1359  ...    Houston          TX          William P Hobby
2          4      WN  1000-1059  ...    Houston          TX          William P Hobby
3          4      WN  1900-1959  ...  Las Vegas          NV   McCarran International
4          4      WN  1300-1359  ...  Las Vegas          NV   McCarran International

[5 rows x 14 columns]

## 결측치 처리

In [83]:
df_flight_info = df_flight_info.dropna()

In [84]:
df_flight_info.isna().sum()

DayOfWeek       0
Carrier         0
DepTimeBlk      0
DepDelay        0
DepDel15        0
ArrTimeBlk      0
ArrDelay        0
ArrDel15        0
Ori-city        0
Ori-state       0
Ori-airport     0
Dest-city       0
Dest-state      0
Dest-airport    0
dtype: int64

In [85]:
df_flight_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 499680 entries, 0 to 504396
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DayOfWeek     499680 non-null  int64
 1   Carrier       499680 non-null  object
 2   DepTimeBlk    499680 non-null  object
 3   DepDelay      499680 non-null  float64
 4   DepDel15      499680 non-null  float64
 5   ArrTimeBlk    499680 non-null  object
 6   ArrDelay      499680 non-null  float64
 7   ArrDel15      499680 non-null  float64
 8   Ori-city      499680 non-null  object
 9   Ori-state     499680 non-null  object
 10  Ori-airport   499680 non-null  object
 11  Dest-city     499680 non-null  object
 12  Dest-state    499680 non-null  object
 13  Dest-airport  499680 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 57.2+ MB

### 명목형 데이터의 유니크 값 개수 확인

In [88]:
obj_col = [ col for col in df_flight_info.columns if df_flight_info[col].dtype == 'object' ]
for col in obj_col:
    print(f'컬럼명: {col:<15s}, 유니크 값 개수:{df_flight_info[col].unique().size}')

컬럼명: Carrier        , 유니크 값 개수:16
컬럼명: DepTimeBlk     , 유니크 값 개수:19
컬럼명: ArrTimeBlk     , 유니크 값 개수:19
컬럼명: Ori-city       , 유니크 값 개수:268
컬럼명: Ori-state      , 유니크 값 개수:53
컬럼명: Ori-airport    , 유니크 값 개수:279
컬럼명: Dest-city      , 유니크 값 개수:268
컬럼명: Dest-state     , 유니크 값 개수:53
컬럼명: Dest-airport   , 유니크 값 개수:279

### 라벨 인코딩

In [89]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
for col in [ col for col in df_flight_info.columns if df_flight_info[col].dtype == 'object' ]:
    df_flight_info[col] = encoder.fit_transform(df_flight_info[col])

In [90]:
df_flight_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 499680 entries, 0 to 504396
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DayOfWeek     499680 non-null  int64
 1   Carrier       499680 non-null  int32
 2   DepTimeBlk    499680 non-null  int32
 3   DepDelay      499680 non-null  float64
 4   DepDel15      499680 non-null  float64
 5   ArrTimeBlk    499680 non-null  int32
 6   ArrDelay      499680 non-null  float64
 7   ArrDel15      499680 non-null  float64
 8   Ori-city      499680 non-null  int32
 9   Ori-state     499680 non-null  int32
 10  Ori-airport   499680 non-null  int32
 11  Dest-city     499680 non-null  int32
 12  Dest-state    499680 non-null  int32
 13  Dest-airport  499680 non-null  int32
dtypes: float64(4), int32(9), int64(1)
memory usage: 40.0 MB

## 데이터 분할 및 모델 생성

In [91]:
from sklearn.model_selection import train_test_split

x = df_flight_info.drop('ArrDel15', axis=1)
y = df_flight_info['ArrDel15']

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, stratify=y)

In [92]:
model = RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier()

In [97]:
model = LogisticRegression(solver = 'sag', max_iter=600) # sag: 확률적 경사하강법
model.fit(x_train, y_train)

LogisticRegression(max_iter=600, solver='sag')

## 모델 평가

In [98]:
from sklearn.metrics import accuracy_score, roc_auc_score

y_hat = model.predict(x_test)
print(f'정확도: {accuracy_score(y_test, y_hat):.3f}')
print(f'AUC: {roc_auc_score(y_test, model.predict_proba(x_test)[:,1])}')

정확도: 0.985
AUC: 0.9985206902778118

## Feature Importance - Random forest classifier

In [95]:
importance = { k:v for k, v in zip(x.columns, model.feature_importances_)}
df_importance = pd.DataFrame(pd.Series(importance), columns=['importance'])
# 딕셔너리의 키값이 인덱스로 가야하기 때문에 시리즈로 데이터 프레임 생성
df_importance.sort_values('importance', ascending=False)

              importance
ArrDelay        0.620129
DepDelay        0.200351
DepDel15        0.168155
DepTimeBlk      0.002067
ArrTimeBlk      0.001934
Carrier         0.001867
DayOfWeek       0.000926
Dest-airport    0.000859
Dest-state      0.000791
Ori-airport     0.000769
Dest-city       0.000745
Ori-city        0.000729
Ori-state       0.000678

## 회귀계수(가중치) 확인 - Logistic Regression

In [100]:
coef = model.coef_.squeeze(axis=0)
odds_rate = np.exp(coef)

coef_df = pd.DataFrame({'가중치':coef, 'Odds비':odds_rate}, index=x.columns)
coef_df.sort_values('가중치', ascending=False)

# 회귀계수 해석
# 로지스틱 회귀계수에 지수변환(exp())을 적용하면 odds비가 나온다. 오즈비= 성공확률/실패확률 
# odds비가 크면 연착 확률이 높음

                   가중치     Odds비
ArrDelay      0.644336  1.904721
DepDelay      0.026804  1.027167
DepDel15      0.010447  1.010502
Dest-city    -0.001036  0.998965
Ori-city     -0.001383  0.998618
Ori-airport  -0.009830  0.990218
Dest-airport -0.009986  0.990063
Dest-state   -0.036972  0.963703
DepTimeBlk   -0.037537  0.963159
Ori-state    -0.043805  0.957141
Carrier      -0.150484  0.860292
ArrTimeBlk   -0.155649  0.855859
DayOfWeek    -0.360560  0.697285

## 교차검증

In [96]:
from sklearn.model_selection import cross_validate

scores = cross_validate(model, x, y, cv=5, scoring=['accuracy', 'roc_auc_ovr'])
for k,v in scores.items():
    print('Key:',k)
    print(f'평균값: {np.mean(v):.3f}')
    print('-'*30)

Key: fit_time
평균값: 23.237
------------------------------
Key: score_time
평균값: 1.695
------------------------------
Key: test_accuracy
평균값: 1.000
------------------------------
Key: test_roc_auc_ovr
평균값: 1.000
------------------------------